.home-content {
  width: 100%;
  height: 100%; }

.background {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -1; }

.background.background-0 {
  background: linear-gradient(to right, #FF7754, #FC277C);
  animation: fadeInOut 25s ease;
  animation-fill-mode: forwards;
  animation-iteration-count: infinite; }

.background.background-1 {
  background: linear-gradient(to right, #FC277C, #FF7754);
  animation: fadeOutIn 25s ease;
  animation-fill-mode: forwards;
  animation-iteration-count: infinite; }

.background.background-2 {
  background: #ff4e69;
  z-index: -2; }

.parallax {
  perspective: 100px;
  height: 100vh;
  overflow-x: hidden;
  overflow-y: auto;
  position: absolute;
  top: 0;
  left: 50%;
  right: 0;
  bottom: 0;
  margin-left: -1500px; }

.parallax__layer {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0; }

.parallax__layer > img {
  display: block;
  position: absolute;
  bottom: 0;
  max-width: 3000px;
  max-height: 1563px; }

#parallax__cover {
  background: #ffffff;
  position: absolute;
  top: 100%;
  left: 832px;
  width: 100vw;
  min-height: 300px;
  z-index: 5; }

#parallax__cover img {
  height: 233px;
  z-index: 500;
  left: 50%;
  transform: translateX(-50%);
  position: absolute; }

.parallax__layer__0 {
  transform: translateZ(-350px) scale(4.5); }

.parallax__layer__1 {
  transform: translateZ(-300px) scale(4); }

.parallax__layer__2 {
  transform: translateZ(-250px) scale(3.5); }

.parallax__layer__3 {
  transform: translateZ(-200px) scale(3); }

.parallax__layer__4 {
  transform: translateZ(-150px) scale(2.5); }

.parallax__layer__5 {
  transform: translateZ(-100px) scale(2); }

.parallax__layer__6 {
  transform: translateZ(-50px) scale(1.5); }

.parallax__layer__7 {
  transform: translateZ(0px) scale(1); }
