@import url(https://fonts.googleapis.com/css?family=Oswald);
/*****************************************************************************/
/* SubNav: Style */
/*****************************************************************************/
.subnav-container {
  height: 44px;
  margin-top: -39px;
  background-color: #1d1c1e; }

.subnav {
  background: #1d1c1e;
  width: 100%;
  position: absolute;
  top: 60px;
  height: 44px;
  transition: all .2s linear; }

.subnav-content {
  max-width: 1024px;
  width: 100%;
  margin: 0 auto;
  text-align: left; }

.subnav-list {
  margin: 0;
  width: 100%;
  padding: 0 10px 0 150px;
  max-width: 1100px;
  display: flex;
  justify-content: space-between;
  list-style: none;
  transition: all .12s linear; }
  .subnav-list li {
    float: left;
    display: list-item; }
  .subnav-list span {
    text-decoration: none;
    font-size: 16px;
    font-weight: 600;
    padding: 11px 10px 8px;
    display: block;
    text-transform: uppercase;
    outline: 0 none; }
    .subnav-list span.active {
      color: #ff6c00; }
    .subnav-list span.disabled {
      color: #767577;
      cursor: default; }
  .subnav-list a {
    color: inherit;
    font: inherit;
    transition: all .12s linear;
    text-decoration: inherit; }

/*****************************************************************************/
/* SubNav: Style */
/*****************************************************************************/
/*****************************************************************************/
/* Marquee: Style */
/*****************************************************************************/
.marquee-zone {
  width: 100%;
  margin-top: 13px;
  padding: 20px 0 0 0; }

.marquee-content {
  width: 1024px;
  margin: 0 auto;
  text-align: left;
  position: relative; }

.marquee-pictures {
  height: 208px; }

.marquee {
  display: inline-block;
  position: relative;
  width: 335px;
  height: 208px;
  vertical-align: top;
  text-align: center;
  overflow: hidden;
  cursor: pointer;
  box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.16); }
  .marquee img {
    transition: all 0.3s linear; }

.rollover {
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: rgba(29, 28, 30, 0.86);
  transition: all 0.4s linear;
  z-index: 99;
  border-bottom: 3px solid #9ae200; }

.rollover-inner {
  padding: 60px 0 0 0;
  margin: 0px auto;
  width: 310px;
  transition: all 0s linear; }
  .rollover-inner.rollover-inner-hover {
    opacity: 1;
    transition: all 0.4s linear; }
  .rollover-inner div {
    border-bottom: 1px solid #fff;
    font-size: 14px;
    padding-bottom: 10px;
    margin-bottom: 10px;
    display: inline-block;
    font-weight: 600;
    color: #fff; }
  .rollover-inner > span {
    width: 260px;
    display: inline-block;
    font-weight: 600;
    color: #fff; }
  .rollover-inner .cta-link {
    display: block;
    text-align: right;
    font: 700 18px 'Oswald', sans-serif;
    color: #fff;
    margin-top: 15px;
    border-bottom: 1px solid transparent;
    float: right;
    width: auto;
    text-transform: uppercase;
    transition: all 0.24s linear; }
    .rollover-inner .cta-link i {
      color: #9ae200;
      margin-left: 2px; }

.marquee-links {
  padding: 15px 0;
  text-align: center;
  font-size: 13px;
  color: #767577;
  background-color: #2b2a2c;
  width: 1024px;
  margin: 0px auto; }

.marquee-text-container {
  height: 38px; }

#marquee-text {
  color: #ffd20d;
  text-align: center;
  font-size: 14px;
  font-weight: 700;
  padding: 10px 0; }
  #marquee-text a {
    color: inherit; }

a.link-icon {
  color: #e9e8ea;
  padding: 0 10px;
  font-weight: 600;
  transition: all 0.24s linear; }
  a.link-icon span, a.link-icon i {
    vertical-align: middle; }
    a.link-icon span:first-child, a.link-icon i:first-child {
      color: #9ae200;
      padding-right: 5px;
      font-size: 15px; }

/*****************************************************************************/
/* Marquee: Style */
/*****************************************************************************/
/*****************************************************************************/
/* Wick: Style */
/*****************************************************************************/
/*****************************************************************************/
/* Wick: Style */
/*****************************************************************************/
